{% extends "base.html" %}

{% block content %}
  <h2 class="sub-header">My Contacts</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
            <tr>
              <td>{{ contact.first_name }}</td>
              <td>{{ contact.last_name }}</td>
              <td>{{ contact.phone_number }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "add_contact.html" %}
{% endblock %}
