<hr>
<h3>Add Contact</h3>

<div class="row">
    <div class="col-md-12">
        <form action="/" method="post">
            <div class="row">
                <div class="col-md-4">
                    <dt style="text-align: left;" class="admin-field">
                        <label for="phone_number">First Name</label>
                    </dt>
                    <dd>
                        <input type="text" name="first_name" class="form-control">
                        </input>
                    </dd>
                </div>
                <div class="col-md-4">
                    <dt style="text-align: left;" class="admin-field"><label for="phone_number">Last Name</label></dt>
                    <dd>
                    <input type="text" name="last_name" class="form-control"></input>
                    </dd>
                </div>
                <div class="col-md-4">
                    <dt style="text-align: left;" class="admin-field"><label for="phone_number">Phone Number</label></dt>
                    <dd>
                    <input type="text" name="phone_number" class="form-control"></input>
                    </dd>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-large btn-success space-top"></input>
        </form>
    </div>
</div>
