<h2 class="sub-header">Contacts Data</h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-cloud fa-fw"></i> Twilio Phone Number
        </h3>
      </div>
      <div class="panel-body" style="text-align: center; background-color: red; color: white; font-size: 3em;">
        +1 202 555 1234
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-phone fa-fw"></i> Calls made
        </h3>
      </div>
      <div class="panel-body" style="text-align: center; background-color: #222; color: white; font-size: 3em;">
        54
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-users fa-fw"></i> Contacts
        </h3>
      </div>
      <div class="panel-body" style="text-align: center; background-color: blue; color: white; font-size: 3em;">
        13
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-users fa-fw"></i> Transcripts
        </h3>
      </div>
      <div class="panel-body" style="text-align: center; background-color: #fff; color: #222; font-size: 3em;">
        1
      </div>
    </div>
  </div>
</div>
